@tailwind base;
@tailwind components;
@tailwind utilities;


.gradient {
    background: radial-gradient(circle, rgba(0,219,255,1) 10%, rgba(255, 255, 255, 0) 60%);
}

::-webkit-scrollbar-track
{
	border-radius: 999px;
	background-color: rgba(65, 65, 65, 0.2);
}

::-webkit-scrollbar
{
    height: 6px; 
	width: 8px;
	background-color: rgba(142, 142, 142, 0);
}

::-webkit-scrollbar-thumb
{
	border-radius: 999px;
    width: 5px;
    height: 3px;
	background-color: #909090;
}